{% extends '::base.html.twig' %}
    
{% block body -%}
<div class="row">
    <div class="col-md-12">
        <div class="page-header-sector">
            <div class="row">
                <div class="col-md-12 breadcrumb-bar">
                    <ol class="breadcrumb">
                        <li><a href="{{ url('test_login_homepage')}}">Hompage</a></li>
                        <li><a href="{{ url('admin_user')}}">Usuarios</a></li>
                        <li class="active">Nuevo Usuario</li>
                    </ol>								
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="page-content-sector">
            <div class="row">
                <h1>Nuevo Usuario</h1>
                 {{ form(form) }}
            </div>
        </div>
        <div class="text-center">
            <div class="options-buttons-box">
                <a href="{{ path('admin_user') }}" class="btn btn-default" role="button">Regresar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
